name: CI

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    
jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - name: Clone Repo
      uses: actions/checkout@v1
    
    - name: Setup Visual Studio Command Prompt
      uses: microsoft/setup-msbuild@v1.0.2
      
    - name: Build
      run: |
        msbuild /restore /t:Build src/Microsoft.SqlServer.Types.sln /p:Configuration=Release
        
    - name: Tests
      run: |
        dotnet test src/Microsoft.SqlServer.Types.Tests/bin/Release/netcoreapp2.1/Microsoft.SqlServer.Types.Tests.dll -v normal

    - name: Tests of Microsoft.Data.SqlClient
      run: |
        dotnet test src/Microsoft.SqlServer.Types.Tests/bin/Release/netcoreapp3.1/Microsoft.SqlServer.Types.Tests.dll -v normal

    - name: Reference Tests
      run: |
        dotnet test src/Microsoft.SqlServer.Types.Tests/bin/Release/net461/Microsoft.SqlServer.Types.Tests.dll -v normal
